# Importing Libraries

In [78]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import os
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Loading Data

In [44]:
os.chdir('C:\\Users\\Avita\\OneDrive\\Desktop\\Capstone Project\\ECom case study (1)')

In [45]:
df=pd.read_csv('Sales_Data_Ecommerce.csv')

In [46]:
df

,user_id,event_date,Day_of_Week,Channel,event_time,event_hour,event_timezone,event_type,product_id,category_id,category,sub_category1,sub_category2,brand,price,user_session,State,User_Score
0,21342,10/25/2019,Friday,Browser,14:11:00,14,UTC,View,18680,111,Electronics,smartphone,smartphone,Apple,64.33,8472453,WA,3
1,25649,10/18/2019,Friday,App,12:23:39,12,UTC,View,6100,180,Appliances,kitchen,refrigerators,Lg,489.96,1379135,CA,1
2,36102,11/26/2019,Tuesday,Browser,11:13:35,11,UTC,View,352,71,Electronics,smartphone,smartphone,Nokia,204.64,9666123,HI,1
3,38878,11/17/2019,Sunday,Browser,6:20:37,6,UTC,Purchase,10566,50,Electronics,audio,headphone,Apple,169.35,11408172,ND,1
4,47492,11/16/2019,Saturday,Browser,3:07:19,3,UTC,View,1924,115,Computers,notebook,notebook,Lenovo,851.59,3917052,MD,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159995,3982865,11/27/2019,Wednesday,App,17:50:49,17,UTC,View,564,71,Electronics,smartphone,smartphone,Huawei,163.88,3116480,IL,4
159996,4004840,11/28/2019,Thursday,App,16:22:25,16,UTC,View,2773,146,Computers,desktop,desktop,Lenovo,745.97,8173543,OR,1
159997,4018287,11/29/2019,Friday,App,8:11:46,8,UTC,View,915,71,Electronics,smartphone,smartphone,Xiaomi,196.13,7907717,CT,3
159998,4025333,11/29/2019,Friday,Browser,12:29:14,12,UTC,View,707,71,Electronics,smartphone,smartphone,Samsung,124.53,12629973,MI,1
159999,4027388,11/30/2019,Saturday,Browser,6:38:53,6,UTC,Cart,976,71,Electronics,smartphone,smartphone,Oppo,308.63,11229000,AK,3

# Checking Data

In [47]:
df.shape

(160000, 18)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         160000 non-null  int64
 1   event_date      160000 non-null  object
 2   Day_of_Week     160000 non-null  object
 3   Channel         160000 non-null  object
 4   event_time      160000 non-null  object
 5   event_hour      160000 non-null  int64
 6   event_timezone  160000 non-null  object
 7   event_type      160000 non-null  object
 8   product_id      160000 non-null  int64
 9   category_id     160000 non-null  int64
 10  category        160000 non-null  object
 11  sub_category1   160000 non-null  object
 12  sub_category2   160000 non-null  object
 13  brand           160000 non-null  object
 14  price           160000 non-null  float64
 15  user_session    160000 non-null  int64
 16  State           160000 non-null  object
 17  User_Score      160000 non-null  int64
dtypes: float64(1), int64(6), object(11)
memory usage: 22.0+ MB

In [49]:
df.dtypes

user_id             int64
event_date         object
Day_of_Week        object
Channel            object
event_time         object
event_hour          int64
event_timezone     object
event_type         object
product_id          int64
category_id         int64
category           object
sub_category1      object
sub_category2      object
brand              object
price             float64
user_session        int64
State              object
User_Score          int64
dtype: object

In [50]:
df.isnull().sum()

user_id           0
event_date        0
Day_of_Week       0
Channel           0
event_time        0
event_hour        0
event_timezone    0
event_type        0
product_id        0
category_id       0
category          0
sub_category1     0
sub_category2     0
brand             0
price             0
user_session      0
State             0
User_Score        0
dtype: int64

# EDA

In [51]:
df.head()

,user_id,event_date,Day_of_Week,Channel,event_time,event_hour,event_timezone,event_type,product_id,category_id,category,sub_category1,sub_category2,brand,price,user_session,State,User_Score
0,21342,10/25/2019,Friday,Browser,14:11:00,14,UTC,View,18680,111,Electronics,smartphone,smartphone,Apple,64.33,8472453,WA,3
1,25649,10/18/2019,Friday,App,12:23:39,12,UTC,View,6100,180,Appliances,kitchen,refrigerators,Lg,489.96,1379135,CA,1
2,36102,11/26/2019,Tuesday,Browser,11:13:35,11,UTC,View,352,71,Electronics,smartphone,smartphone,Nokia,204.64,9666123,HI,1
3,38878,11/17/2019,Sunday,Browser,6:20:37,6,UTC,Purchase,10566,50,Electronics,audio,headphone,Apple,169.35,11408172,ND,1
4,47492,11/16/2019,Saturday,Browser,3:07:19,3,UTC,View,1924,115,Computers,notebook,notebook,Lenovo,851.59,3917052,MD,2

In [52]:
user_agg = df[['user_id', 'event_date', 'event_hour', 'brand', 'category',
               'Channel', 'State', 'user_session', 'User_Score', 'price']]

In [53]:
# Selected only the relevant columns for aggregation

In [54]:
user_agg

,user_id,event_date,event_hour,brand,category,Channel,State,user_session,User_Score,price
0,21342,10/25/2019,14,Apple,Electronics,Browser,WA,8472453,3,64.33
1,25649,10/18/2019,12,Lg,Appliances,App,CA,1379135,1,489.96
2,36102,11/26/2019,11,Nokia,Electronics,Browser,HI,9666123,1,204.64
3,38878,11/17/2019,6,Apple,Electronics,Browser,ND,11408172,1,169.35
4,47492,11/16/2019,3,Lenovo,Computers,Browser,MD,3917052,2,851.59
...,...,...,...,...,...,...,...,...,...,...
159995,3982865,11/27/2019,17,Huawei,Electronics,App,IL,3116480,4,163.88
159996,4004840,11/28/2019,16,Lenovo,Computers,App,OR,8173543,1,745.97
159997,4018287,11/29/2019,8,Xiaomi,Electronics,App,CT,7907717,3,196.13
159998,4025333,11/29/2019,12,Samsung,Electronics,Browser,MI,12629973,1,124.53
159999,4027388,11/30/2019,6,Oppo,Electronics,Browser,AK,11229000,3,308.63

In [55]:
# Group by user_id and aggregate
user_agg = user_agg.groupby('user_id').agg({
    'event_date': ['min', 'max', 'nunique'],               
    'event_hour': 'mean',                               
    'brand': 'nunique',                                    
    'category': 'nunique',                               
    'Channel': pd.Series.mode,                             
    'State': pd.Series.mode,                          
    'user_session': 'nunique',                             
    'User_Score': 'mean',                                 
    'price': ['sum', 'mean']                               
}).reset_index()

In [56]:
user_agg

        user_id  event_date                     event_hour   brand category  \
                        min         max nunique       mean nunique  nunique
0            99  11/12/2019  11/12/2019       1        3.0       1        1
1           111  11/30/2019  11/30/2019       1        2.0       1        1
2           226  11/28/2019  11/28/2019       1        7.0       1        1
3           244  11/19/2019  11/19/2019       1        4.0       1        1
4           283  11/20/2019  11/20/2019       1        4.0       1        1
...         ...         ...         ...     ...        ...     ...      ...
144330  4062021  11/30/2019  11/30/2019       1       21.0       1        1
144331  4062154  11/30/2019  11/30/2019       1       22.0       1        1
144332  4062241  11/30/2019  11/30/2019       1       22.0       1        1
144333  4062340  11/30/2019  11/30/2019       1       22.0       1        1
144334  4062342  11/30/2019  11/30/2019       1       22.0       1        1

        Channel State user_session User_Score   price
           mode  mode      nunique       mean     sum    mean
0           App    DE            1        3.0  257.15  257.15
1       Browser    WI            1        2.0  257.09  257.09
2       Browser    MN            1        1.0  743.62  743.62
3           App    WA            1        3.0   97.56   97.56
4       Browser    PA            1        4.0   97.79   97.79
...         ...   ...          ...        ...     ...     ...
144330      App    CT            1        2.0  190.61  190.61
144331  Browser    NH            1        2.0  123.19  123.19
144332  Browser    VA            1        3.0  276.97  276.97
144333      App    IN            1        2.0  103.00  103.00
144334      App    MT            1        1.0   35.78   35.78

[144335 rows x 13 columns]

In [57]:
# Flatten column names
user_agg.columns = [
    'user_id',
    'first_event_date',
    'last_event_date',
    'active_days',
    'avg_event_hour',
    'unique_brands',
    'unique_categories',
    'top_channel',
    'top_state',
    'total_sessions',
    'avg_user_score',
    'total_spent',           
    'avg_price_per_event'
]

In [58]:
user_agg

,user_id,first_event_date,last_event_date,active_days,avg_event_hour,unique_brands,unique_categories,top_channel,top_state,total_sessions,avg_user_score,total_spent,avg_price_per_event
0,99,11/12/2019,11/12/2019,1,3.0,1,1,App,DE,1,3.0,257.15,257.15
1,111,11/30/2019,11/30/2019,1,2.0,1,1,Browser,WI,1,2.0,257.09,257.09
2,226,11/28/2019,11/28/2019,1,7.0,1,1,Browser,MN,1,1.0,743.62,743.62
3,244,11/19/2019,11/19/2019,1,4.0,1,1,App,WA,1,3.0,97.56,97.56
4,283,11/20/2019,11/20/2019,1,4.0,1,1,Browser,PA,1,4.0,97.79,97.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144330,4062021,11/30/2019,11/30/2019,1,21.0,1,1,App,CT,1,2.0,190.61,190.61
144331,4062154,11/30/2019,11/30/2019,1,22.0,1,1,Browser,NH,1,2.0,123.19,123.19
144332,4062241,11/30/2019,11/30/2019,1,22.0,1,1,Browser,VA,1,3.0,276.97,276.97
144333,4062340,11/30/2019,11/30/2019,1,22.0,1,1,App,IN,1,2.0,103.00,103.00
144334,4062342,11/30/2019,11/30/2019,1,22.0,1,1,App,MT,1,1.0,35.78,35.78

In [59]:
# select only relevant columns for prediction

In [60]:
user_agg.drop(columns=['user_id','first_event_date','last_event_date','avg_price_per_event'], inplace=True)

In [61]:
user_agg

,active_days,avg_event_hour,unique_brands,unique_categories,top_channel,top_state,total_sessions,avg_user_score,total_spent
0,1,3.0,1,1,App,DE,1,3.0,257.15
1,1,2.0,1,1,Browser,WI,1,2.0,257.09
2,1,7.0,1,1,Browser,MN,1,1.0,743.62
3,1,4.0,1,1,App,WA,1,3.0,97.56
4,1,4.0,1,1,Browser,PA,1,4.0,97.79
...,...,...,...,...,...,...,...,...,...
144330,1,21.0,1,1,App,CT,1,2.0,190.61
144331,1,22.0,1,1,Browser,NH,1,2.0,123.19
144332,1,22.0,1,1,Browser,VA,1,3.0,276.97
144333,1,22.0,1,1,App,IN,1,2.0,103.00
144334,1,22.0,1,1,App,MT,1,1.0,35.78

In [62]:
user_agg.dtypes

active_days            int64
avg_event_hour       float64
unique_brands          int64
unique_categories      int64
top_channel           object
top_state             object
total_sessions         int64
avg_user_score       float64
total_spent          float64
dtype: object

# Machine Learning - Spending Prediction

In [63]:
# Spending prediction per user - Supervised Approach / Linear regression

## One hot encoding

In [64]:
user_agg['top_channel'] = user_agg['top_channel'].astype(str)
user_agg['top_state'] = user_agg['top_state'].astype(str)

In [65]:
encoded_df = pd.get_dummies(user_agg, columns=['top_channel', 'top_state'], drop_first=True)

In [66]:
encoded_df

,active_days,avg_event_hour,unique_brands,unique_categories,total_sessions,avg_user_score,total_spent,top_channel_Browser,top_channel_['App' 'Browser'],top_state_AL,...,top_state_SD,top_state_TN,top_state_TX,top_state_UT,top_state_VA,top_state_VT,top_state_WA,top_state_WI,top_state_WV,top_state_WY
0,1,3.0,1,1,1,3.0,257.15,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,2.0,1,1,1,2.0,257.09,True,False,False,...,False,False,False,False,False,False,False,True,False,False
2,1,7.0,1,1,1,1.0,743.62,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,4.0,1,1,1,3.0,97.56,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,1,4.0,1,1,1,4.0,97.79,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144330,1,21.0,1,1,1,2.0,190.61,False,False,False,...,False,False,False,False,False,False,False,False,False,False
144331,1,22.0,1,1,1,2.0,123.19,True,False,False,...,False,False,False,False,False,False,False,False,False,False
144332,1,22.0,1,1,1,3.0,276.97,True,False,False,...,False,False,False,False,True,False,False,False,False,False
144333,1,22.0,1,1,1,2.0,103.00,False,False,False,...,False,False,False,False,False,False,False,False,False,False
144334,1,22.0,1,1,1,1.0,35.78,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [67]:
encoded_df = encoded_df.astype({col: int for col in encoded_df.select_dtypes(bool).columns})

In [68]:
encoded_df

,active_days,avg_event_hour,unique_brands,unique_categories,total_sessions,avg_user_score,total_spent,top_channel_Browser,top_channel_['App' 'Browser'],top_state_AL,...,top_state_SD,top_state_TN,top_state_TX,top_state_UT,top_state_VA,top_state_VT,top_state_WA,top_state_WI,top_state_WV,top_state_WY
0,1,3.0,1,1,1,3.0,257.15,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2.0,1,1,1,2.0,257.09,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,7.0,1,1,1,1.0,743.62,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,4.0,1,1,1,3.0,97.56,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,4.0,1,1,1,4.0,97.79,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144330,1,21.0,1,1,1,2.0,190.61,0,0,0,...,0,0,0,0,0,0,0,0,0,0
144331,1,22.0,1,1,1,2.0,123.19,1,0,0,...,0,0,0,0,0,0,0,0,0,0
144332,1,22.0,1,1,1,3.0,276.97,1,0,0,...,0,0,0,0,1,0,0,0,0,0
144333,1,22.0,1,1,1,2.0,103.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
144334,1,22.0,1,1,1,1.0,35.78,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
X = encoded_df.drop('total_spent', axis=1)
y = encoded_df['total_spent']

In [70]:
X.head()

,active_days,avg_event_hour,unique_brands,unique_categories,total_sessions,avg_user_score,top_channel_Browser,top_channel_['App' 'Browser'],top_state_AL,top_state_AR,...,top_state_SD,top_state_TN,top_state_TX,top_state_UT,top_state_VA,top_state_VT,top_state_WA,top_state_WI,top_state_WV,top_state_WY
0,1,3.0,1,1,1,3.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2.0,1,1,1,2.0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,7.0,1,1,1,1.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,4.0,1,1,1,3.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,4.0,1,1,1,4.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
y.head()

0    257.15
1    257.09
2    743.62
3     97.56
4     97.79
Name: total_spent, dtype: float64

## Train Test split

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=78)

## Standardisation

In [74]:
# Fit and transform training data

ss=StandardScaler()

X_train_ft = ss.fit_transform(X_train)
X_train_ft = pd.DataFrame(X_train_ft, columns=X_train.columns)

# Transform test data using the same scale
X_test_ft = ss.transform(X_test)
X_test_ft = pd.DataFrame(X_test_ft, columns=X_test.columns)

## Model Training

### Linear Regression

In [75]:
model = LinearRegression()
model.fit(X_train_ft, y_train)

LinearRegression()

## Prediction

In [76]:
y_pred = model.predict(X_test_ft)

## Model Evaluation

In [80]:
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

print(f"RMSE: {rmse:.2f}")
print(f"R² Score: {r2:.4f}")

RMSE: 427.85
R² Score: 0.1267

C:\Users\Avita\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

### Random forest

In [ ]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train_ft, y_train)

In [ ]:
y_pred_rf = rf_model.predict(X_test_ft)

In [ ]:
rmse_rf = mean_squared_error(y_test, y_pred_rf, squared=False)
r2_rf = r2_score(y_test, y_pred_rf)

In [79]:
print(f"Random Forest RMSE: {rmse_rf:.2f}")
print(f"Random Forest R² Score: {r2_rf:.4f}")

Random Forest RMSE: ₹447.43
Random Forest R² Score: 0.0450

C:\Users\Avita\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(